*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.aux
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.pdf
*.backup
*~

